.App {
  background-image: url("../pictures/background.png");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

#login-form {
  background-color: white;
  width: 616px;
  height: 360px;
}
