@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.App {
  text-align: center;
  background-image: url("./pictures/background.png");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
}

#login-form {
  position: absolute;
  left: 25vh;
  right: 25vh;
  top: 25%;
  bottom: 25%;
  width: 50vh;
  height: 25vh;
  background: #c4c4c4;
  border-radius: 2%;
  margin: auto;
}

#login-label {
  margin: auto;
  font-family: roboto;
  font-size: 25px;
  text-align: center;
  position: relative;
}

#autocomplete {
  position: absolute;
  margin: auto;
  font-family: roboto;
  font-size: 5vh;
  text-align: center;
  position: relative;
}
#login-button {
  position: relative;
}

#not-found {
  position: absolute;
  left: 75vh;
  top: 25vh;
  padding: 5%;

  background: #c4c4c4;
  border-radius: 20px;
}
